<div class="main">
  <section id="header">
    <h1>Pay Rent</h1>
    <p>Thank you for chosing Nauvoo House. Please review the rent payment options below. All rent and any extra fees
      (parking, cleaning charges, etc.) are due at the day of check ins for that semester. Please select a payment
      option and bring it to the office at check ins or be prepared to tell the managers that your prepayed online
      (please has your payment receipt).
    </p>
  </section>

  <div class="rent-main">
    <section id="pay">
      <h2>Check/Money Order/Cashier's Check</h2>
      <p>We accept checks, money orders, or cashier's check in the office. You can bring it into the office or mail it
        in. To pay by Check please write payment to “Nauvoo House” – 175 W. 5th South. Rexburg, ID 83440.
        Money orders and cashier's checks can be obtained at most local grocery stores for a small fee (we recommend
        Walmart or Broulim's).
      </p>

      <h2>eCheck/Online Payment</h2>
      <p>You can pay from your bank account via ACH/eCheck by logging on our <a
          href="https://app.propertyware.com/pw/portals/edgecreek/tenant.action">Resident Portal</a> Site. This is a
        free service. This requires a login. If you do not know or remember your username or password, please contact
        the managers for help.
      </p>

      <h2>Credit Card Online Payment</h2>
      <p>You can make a <a href="https://edgecreek.wufoo.com/forms/q1smd3y71t0qwez/">Credit Card Payment</a>. Type in
        the correct amount you would like your card to be charged. A convenience fee will automatically be added. The
        completed order will be submitted to the Manager for approval. Please allow 1-3 days to process. A payment
        confirmation will be emailed to you once the payment is applied.
      </p>
    </section>
  </div>
</div>
