<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div id="nav" class="sidenav">
  <div id="nav-size">
    <a id="closebtn" (click)="closeNav()">&times;</a>
    <a routerLink="/home" (click)="closeNav()">Home</a>
    <a routerLink="/apartments" (click)="closeNav()">Apartments & Pricing</a>
    <a routerLink="/amenities" (click)="closeNav()">Amenities</a>
    <a routerLink="/gallery" (click)="closeNav()">Gallery</a>
    <a routerLink="/contact" (click)="closeNav()">Contact</a>
    <a routerLink="/residents" (click)="closeNav()">Current Residents</a>
    <a routerLink="/sign" id="point-link" (click)="closeNav()">
      <div id="pointer">Sign Up Now</div>
    </a>
  </div>
  <div id="social-media">
    <a href="https://www.facebook.com/NauvooHouse" target="_blank"><img src="../../assets/images/icons/facebook-f-brands.svg" /></a>
    <a href="https://www.instagram.com/nauvoohouse/" target="_blank"><img src="../../assets/images/icons/instagram-brands.svg"></a>
  </div>
</div>

<div class="head-main">
  <div class="main">
    <div id="img-logo">
      <a id="menu-toggle" (click)="openNav(event)">&#9776;</a>
    </div>

    <h1 class="title"><a routerLink="/home">Nauvoo House</a></h1>

    <div id="resident">
      <a routerLink="/residents" class="btn-primary" id="resident-btn">Residents</a>
      <!-- <div id="user">
        <a href="#" id="log-in">Log In</a>
      </div> -->
    </div>
  </div>
</div>

<script>
  function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
  }

  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
  }

</script>
