<div class="foot-main">
  <div class="main">
    <div id="man-info">
      <p class="header">Apartment Managers</p>
      <p>Briana & Bria</p>
      <p>(208) 356-7756</p>
      <p><a href="mailto:manager@nauvoohouse.com?Subject=Questions%20or%20concerns" target="_top">manager@NauvooHouse.com</a></p>
    </div>

    <div id="hours">
      <p class="header">Office Hours</p>
      <p>Monday - Friday</p>
      <p>1pm - 5pm</p>
      <p>Or Anytime by Appt.</p>
    </div>

    <div>
      <p class="header" id="resources">Resources</p>
      <ul>
        <li><a routerLink="/404">Nauvoo History</a></li>
        <li><a routerLink="/404">Information & Downloads</a></li>
        <li><a routerLink="/404">Carrers</a></li>
      </ul>
    </div>
  </div>

  <div id="very-bottom">
    <div id="copyright">
      <p>&#160;2019 by Nauvoo House</p>
      <div id="social-media">
        <a href="https://www.facebook.com/NauvooHouse" target="_blank"><img
            src="../../assets/images/icons/facebook-f-brands.svg" /></a>
        <a href="https://www.instagram.com/nauvoohouse/" target="_blank"><img
            src="../../assets/images/icons/instagram-brands.svg"></a>
      </div>
    </div>
  </div>
</div>
