<div class="main">
  <section id="header">
    <h1>Clean Checks</h1>
    <p>Clean Checks are Thursdays, every other week, alternating boys & girls. Checks will start around 1:00 pm. All
      apartments will be checked until the entire complex is complete.
    </p>
  </section>

  <div class="clean-main">
    <section id="instruc">
      <p>Instructions and tips for clean checks:</p>

      <ul>
        <ol>1. The Clean Check Sheet is laminated in your apartment on the fridge. This sheet details the expections we
          will hold you to for each clean check job. It has everything on it you need to pass clean checks. If it is
          missing, please let management know.</ol>
        <ol>2. Every Job must be signed up for - no matter how many live in your apartment.</ol>
        <ol>3. The first clean check we will check for mattress covers. Every bed being used must have a mattress cover
          on, as required by BYUI. Mattress covers must go around and cover the corners. If you do not have a mattress
          cover on your bed, we will leave you a reminder and check again the next clean check. If a mattress cover is
          still not on the bed by the second clean check, we will provide you one and charge you $15.</ol>
        <ol>4. Also on the first clean check we will be asking for rooming assignments. Please circle your bed letter on
          the clean check sheet or have someone home during clean checks for our cleaning manager to ask. (First Bed in
          the apartment closest to the Living Room is Bed A. Last Bed closest to the Bathroom is Bed F)</ol>
        <ol>5. If you fail a $10.00 recheck fee will be added to your account. Rechecks are on Fridays.</ol>
      </ul>

      <h2>If your apartment is extra clean, <br> you could earn a Nauvoo Buck!</h2>
    </section>
  </div>
</div>
