<div class="amenity-main">
  <div class="main">
    <section id="header">
      <h1>Amenities</h1>
      <p>Welcome to Nauvoo House. The original Nauvoo House was built in Nauvoo, IL as a place of respite for Pioneers.
        Likewise, Nauvoo House is a place where you can work hard on your studies as well as relax and enjoy an amazing
        social environment where you will meet great people!</p>
    </section>

    <div id="pic-tiles">
      <h2>Complex Amenities</h2>

      <section id="mid-section">
        <div class="tiles">
          <div class="container">
            <img src="../../assets/new-images/theater2-du.jpg">
            <p class="text-position">2 Theater Rooms</p>
          </div>

          <div class="container">
            <img src="../../assets/new-images/games.jpg">
            <p class="text-position">Clubhouse Game Room</p>
          </div>

          <div class="container">
            <img src="../../assets/new-images/picnic1.jpg">
            <p class="text-position">Picnic & BBQ Area</p>
          </div>

          <div class="container">
            <img src="../../assets/new-images/studyroom1.jpg">
            <p class="text-position">Study Rooms</p>
          </div>

          <div class="container">
            <img src="../../assets/images/old-piano.jpg">
            <p class="text-position">Piano Room</p>
          </div>
        </div>

        <div class="tiles">
          <div class="container">
            <img src="../../assets/new-images/gym-girls2.jpg">
            <p class="text-position">Girls & Boys Gyms</p>
          </div>

          <div class="container">
            <img src="../../assets/new-images/firepit1.jpg">
            <p class="text-position">Fire Pit</p>
          </div>

          <div class="container">
            <img src="../../assets/new-images/club.jpg">
            <p class="text-position" id="clubhouse">Spacious Clubhouse & Community Kitchens</p>
          </div>

          <div class="container">
            <img src="../../assets/new-images/os-front1.jpg">
            <p class="text-position">Free Tenant Storage</p>
          </div>

          <div class="container">
            <img src="../../assets/new-images/parking-lot.jpg">
            <p class="text-position">Parking</p>
          </div>
        </div>
      </section>
    </div>

    <section id="apt-amenity">
      <h2>Apartment Amenities</h2>
      <p class="heading">Each apartment includes:</p>
      <div class="row">
        <div class="column">
          <p class="list-head">Kitchen:</p>
          <ul>
            <li>Dishwasher</li>
            <li>Mircowave</li>
            <li>Fridge</li>
            <li>Oven/stove</li>
            <li>Tons of Cabinets</li>
            <li>Pantry Cabinet</li>
            <li>Island with Stools and Extra Storage</li>
          </ul>
        </div>

        <div class="column">
          <p class="list-head">Furniture:</p>
          <ul>
            <li>Washer/Dryer</li>
            <li>Flat Screen HD TV</li>
            <li>Couch and Love Seat</li>
            <li>Bed Frame & Mattress (standard twin)</li>
            <li>Dresser</li>
            <li>Chair</li>
            <li>Vacuum</li>
          </ul>
        </div>

        <div class="column">
          <p class="list-head">Misc:</p>
          <ul>
            <li>HD Dish Network with DVR & Sports Channels</li>
            <li>High Speed Wifi</li>
            <li>Self Locking, Key Code Front Doors</li>
            <li>Ethernet Port in Most Apartments</li>
            <li>Central Heating</li>
            <li>Air Conditioning Available (Girls: June 1 - August 30)</li>
            <li>Huge Storage Closet</li>
          </ul>
        </div>
      </div>

      <p id="uti" class="heading">All utilities included in rent</p>
      <p id="list" class="heading">(Water, Sewer, Electrcity, Gas, Internet, Cable, Everything)</p>
    </section>

    <div id="button">
      <button (click)="topFunction()" id="myBtn">To Top</button>
    </div>

  </div>
</div>
