@import url(//db.onlinewebfonts.com/c/39a2c7f346d5cfae7045aeb2fb50d9ad?family=LuloCleanW01-OneBold);

@font-face {
  font-family: "Lulo";
  src: url("//db.onlinewebfonts.com/t/39a2c7f346d5cfae7045aeb2fb50d9ad.eot");
  src: url("//db.onlinewebfonts.com/t/39a2c7f346d5cfae7045aeb2fb50d9ad.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/39a2c7f346d5cfae7045aeb2fb50d9ad.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/39a2c7f346d5cfae7045aeb2fb50d9ad.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/39a2c7f346d5cfae7045aeb2fb50d9ad.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/39a2c7f346d5cfae7045aeb2fb50d9ad.svg#LuloCleanW01-OneBold") format("svg");
}

.amenity-main {
  background: #c6c6c6;
  margin-top: 100px;
}

h1 {
  margin: 0;
  font-family: Lulo;
  font-size: 40px;
  text-align: center;
  padding: 20px 0 10px 0;
}

#header p {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  text-align: justify;
  width: 575px;
  margin: auto;
  line-height: 23px;
  margin-bottom: 30px;
  font-weight: 100;
}

#pic-tiles {
  background-color: #fff;
}

#mid-section {
  max-width: 980px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

h2 {
  font-family: Lulo;
  font-size: 36px;
  color: #fff;
  text-align: center;
  background: #78C445;
  width: 980px;
  margin: auto;
  padding: 5px 0;
}

#mid-section img {
  width: 490px;
  height: 252px;
}

.container {
  position: relative;
}

.text-position {
  position: absolute;
  bottom: 10px;
  left: 20px;
  font-family: Helvetica, sans-serif;
  font-size: 35px;
  color: #fff;
  font-weight: bold;
  line-height: 95%;
  text-shadow: 1px 1px #000;
}

#clubhouse {
  margin-bottom: 2px;
}

#apt-amenity {
  max-width: 980px;
  margin: auto;
}

.heading {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  font-weight: 100;
  padding-left: 20px;
}

.list-head {
  font-family: Helvetica, sans-serif;
  font-size: 19px;
  font-weight: 100;
  margin: 0;
}

ul {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 100;
  margin: 0;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  padding-left: 40px;
  margin-bottom: 10px;
}

#uti,
#list {
  text-align: center;
  margin: 0;
}

#list {
  padding-bottom: 10px;
  font-size: 20px;
}

//to top button
#button {
    display: flex;
    justify-content: center;
}

#myBtn {
  width: 65px;
  height: 65px;
  font-size: 15px;
  background-color: #B6DF9B;
  cursor: pointer;
  border-radius: 50px;
  font-family: Helvetica, sans-serif;
  font-weight: 100;
  outline: none;
  border: none;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  margin: 10px 0 15px 0;
}

#myBtn:hover {
  background-color: #4D8229;
}
