@import url(//db.onlinewebfonts.com/c/39a2c7f346d5cfae7045aeb2fb50d9ad?family=LuloCleanW01-OneBold);

@font-face {font-family: "Lulo";
    src: url("//db.onlinewebfonts.com/t/39a2c7f346d5cfae7045aeb2fb50d9ad.eot");
    src: url("//db.onlinewebfonts.com/t/39a2c7f346d5cfae7045aeb2fb50d9ad.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/39a2c7f346d5cfae7045aeb2fb50d9ad.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/39a2c7f346d5cfae7045aeb2fb50d9ad.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/39a2c7f346d5cfae7045aeb2fb50d9ad.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/39a2c7f346d5cfae7045aeb2fb50d9ad.svg#LuloCleanW01-OneBold") format("svg");
}

body {
    background: #c6c6c6;
    margin-top: 100px;
}

.main {
    // display: flex;
    max-width: 980px;
    margin: auto;
}

h1 {
    text-align: center;
    font-family: Lulo;
    font-size: 36px;
    padding: 5px 0;
    margin: auto;
}
  
ngx-gallery ::ng-deep .ngx-gallery-arrow {
    color: #afafaf;
}

ngx-gallery ::ng-deep .ngx-gallery-arrow-wrapper {
    z-index: 2;
}

ngx-gallery {
    margin-bottom: 20px;
}

ngx-gallery ::ng-deep .ngx-gallery-image.ngx-gallery-active {
    z-index: 1;
}