<div id="tile-main">
  <div class="main">

    <div class="tile">
      <a routerLink="/apartments">
        <div id="apt">
          <div class="overlay">
            APARTMENTS
            <hr>
          </div>
        </div>
      </a>
    </div>

    <div class="tile">
      <a routerLink="/amenities">
        <div id="amen">
          <div class="overlay">
            AMENITIES
            <hr>
          </div>
        </div>
      </a>
    </div>

    <div class="tile">
      <a routerLink="/gallery">
        <div id="gallery">
          <div class="overlay">
            GALLERY
            <hr>
          </div>
        </div>
      </a>
    </div>

    <div class="tile">
      <a routerLink="/contact">
        <div id="contact">
          <div class="overlay">
            CONTACT
            <hr>
          </div>
        </div>
      </a>
    </div>

  </div>
</div>
