<!DOCTYPE html>
<html>
<title>Nauvoo House</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="//db.onlinewebfonts.com/c/39a2c7f346d5cfae7045aeb2fb50d9ad?family=LuloCleanW01-OneBold" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
<app-header></app-header>
<router-outlet (activate)="onActivate($event)"></router-outlet>
<!-- <app-home></app-home> -->
<!-- <app-apt></app-apt> -->
<!-- <app-amenities></app-amenities> -->
<!-- <app-gallery></app-gallery> -->
<!-- <app-contact></app-contact> -->
<!-- <app-residents></app-residents> -->
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHb_280k8p4DIqmkygUXqj6w2c7E-RTgA&callback=initMap"
type="text/javascript"></script>
<app-footer></app-footer>
</body>
</html>