<div class="main">
  <section id="header">
    <h1>Maintenance Request</h1>
    <p>Your maintenance concerns are very important to us! Please don't hesitate to turn in a Maintenance Request for
      Maintenance to fix even the smallest thing! We have a full time crew just waiting to help you.
    </p>
  </section>

  <div class="request-main">
    <section id="instruc">
      <p>Please be as specific as possible when making your request. Please refer to the images below if you have any
        questions about which bathroom or bedroom needs maintenance.</p>

      <div class="row">
        <div class="column" id="left"></div>

        <div class="column" id="right"></div>
      </div>
    </section>

    <section id="form">
      <form>
        <label>First Name: </label><br>
        <input type="text" name="firstname" required><br>
        <label>Last Name: </label><br>
        <input type="text" name="lastname" required><br>
        <label>Email: </label><br>
        <input type="text" name="email" required><br>
        <label>Phone Number: </label><br>
        <input type="text" name="phone" required><br>
        <label>Apartment #: </label><br>
        <input type="text" name="apt" required><br>
        <label>Location of Problem: </label><br>
        <input type="text" name="location" required><br>
        <label>Problem Description: </label><br>
        <textarea rows="4" cols="50" required></textarea><br>
        <input type="submit" value="Submit"><br>
      </form>
    </section>
  </div>
</div>
