<div class="main">
    <section id="header">
      <h1>Amenity Reservation</h1>
      <p>Nauvoo House amenities are free for tenants to use. We just ask that you help us keep them nice and clean for
        years to come by cleaning up after yourselves.
      </p>
    </section>

  <div class="reserve-main">
    <section id="instruc">
      <p>How to reserve an amenity:</p>
      <ul>
        <ol>1. Look at your desired reservation date and time on the calendar below to make sure that amenity is not
          already reserved.</ol>
        <ol>2. If it is available, please fill out the form to reserve the amenity; putting the date, time and your contact
          information.</ol>
        <ol>3. Nauvoo House management will then receive your reservation request and will either approve or deny it (Reservations may be
          denied if the amenity is already reserved.)</ol>
        <ol>4. Nauvoo House management will send you an email with the their approval response and any other instructions
          you may need about the amenity.</ol>
      </ul>
      <p>(Please note that reservations for weekends must be submitted on later than Friday at 4:30PM. Management is not in the
        office over the weekend and thus will not be able to process your reservation. Please plan accordingly.)</p>
    </section>

    <section id="google">
        <iframe src="https://calendar.google.com/calendar/b/1/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FDenver&amp;src=ZDhtcXA4Z3Q5dTI5NDdjdG9pZjcwZGoxbHNAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23039BE5&amp;showNav=1&amp;showPrint=0" style="border-width:0" width="980" height="600" frameborder="0" scrolling="no"></iframe>
        <br>
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdI2186M6hiZJJLzxypW6GmD6nXZqoInt5x5ubLm0azbPNYMQ/viewform?embedded=true" width="980" height="2217" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>    </section>
  </div>
</div>
