<div class="main">
  <section id="header">
    <div id="header-pic"></div>
    <h1>Housing Contract</h1>
    <p>Thank you for chosing Nauvoo House. This is an official contract. Please fill out the required information.
    </p>
  </section>

  <div class="sign-main">
    <section id="instruc">
      <p>Instructions:</p>

      <ul>
        <ol>1. You agree and accept the required contract terms by typing your name in the requested signature blocks.
          This is a standard contract used by all single student approved housing properties at BYU-Idaho.</ol>
        <ol>2. Payment of the $180 ($150 refundable Security Deposit and $30.00 processing fee) is required for all new
          tenants and will be collected at the end of this process.</ol>
        <ol>3. Parking contracts are a seperate contract. You must fill out a seperate parking contract to get parking.
        </ol>
      </ul>
    </section>

    <section id="form">
      <iframe
        src="https://docs.google.com/forms/d/e/1FAIpQLSf6gj5JNIfOELvizAMm5JIO38y6MnfLTbVmlAi5CV2rqkm9xg/viewform?embedded=true"
        width="980" height="520" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
    </section>
  </div>
</div>
