<div id="resident-main">

  <h1>Current Residents</h1>
  <br>

  <div class="main">
    <div class="tile">
      <a routerLink="/rent">
        <div id="rent">
          <div class="overlay">
            PAY RENT
            <hr>
            <p>Make rent payment through credit card, check or Epayment.</p>
          </div>
        </div>
      </a>
    </div>

    <div class="tile">
      <a routerLink="/request">
        <div id="maintenance">
          <div class="overlay">
            MAINTENANCE REQUEST
            <hr>
            <p>Submit a maintenance request for your apartment.</p>
          </div>
        </div>
      </a>
    </div>

    <div class="tile">
      <a routerLink="/reservation">
        <div id="reserve">
          <div class="overlay">
            RESERVATIONS
            <hr>
            <p>Reserve the clubhouse of other amenities on the complex calendar.</p>
          </div>
        </div>
      </a>
    </div>

    <div class="tile">
      <a href="https://app.propertyware.com/pw/portals/edgecreek/tenant.action">
        <div id="portal">
          <div class="overlay">
            RESIDENT PORTAL
            <hr>
            <p>Make an Epayment and see your information.</p>
          </div>
        </div>
      </a>
    </div>

    <div class="tile">
      <a routerLink="/sign">
        <div id="renew">
          <div class="overlay">
            RENEW CONTRACT
            <hr>
            <p>Sign in to renew for future semesters.</p>
          </div>
        </div>
      </a>
    </div>

    <div class="tile">
      <a href="https://web.byui.edu/wardsandstakes">
        <div id="ward">
          <div class="overlay">
            WARD INFO
            <hr>
            <p>Find your ward, bishopic members, meeting times and places.</p>
          </div>
        </div>
      </a>
    </div>

    <div class="tile">
      <a routerLink="/report">
        <div id="report">
          <div class="overlay">
            CONDITION REPORT
            <hr>
            <p>Report any damages when you first move in.</p>
          </div>
        </div>
      </a>
    </div>

    <div class="tile">
      <a routerLink="/clean">
        <div id="clean">
          <div class="overlay">
            CLEAN CHECKS
            <hr>
            <p>View the clean check schedule, expectations and rules.</p>
          </div>
        </div>
      </a>
    </div>

  </div>
</div>
